@import "vars";
@import "fonts";
@import "global";
@import "header";
@import "footer";

$color_yellow: #ffc222;
$roboto : 'Roboto', sans-serif;
$color_black: #212020;
$color_white: #fff;
$color_layout: #303030;
$serif: 'PT Serif', serif;

.header {
	display: flex;	
}

.header__menu-additional {
	display: inline-block;
	width: 100%;
	background-color: $color_layout;
	flex-direction: row;
	a {
		color: $color_white;
		text-decoration: none;
		font-family: $roboto;
		font-size: 14px;
		line-height: 24px;
		margin-top: 14px;
		margin-bottom: 14px;
		font-weight: lighter;
		margin-right: 15px;
	}
	.header_cons {
		color: $color_white;
		font-size: 16px;
		line-height: 6px;
		background: transparent;
		border:none;
		font-weight: lighter;
		margin-top: 10px;
		margin-bottom: 0px;
		padding: 20px 45px 16px;
		background-color: transparent;
		&:hover {
			color: #000;
			background-color: $color_yellow;
		}
	}
	
}

.menu-main{
	display: flex;
	justify-content: space-between;
}

.menu-main ul{
	display: flex;
}

.menu ul{
	justify-content: flex-end;
}

.logo {
	margin-top: 45px;
  	margin-bottom: 35px;
}

.menu-main ul a {
  text-decoration: none;
  font-weight: 300;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  font-family: $roboto;
  margin: 45px 0 35px 45px;
  padding: 5px 20px;
  border: solid 1px transparent; 
  &:hover {
		border: solid 1px $color_yellow; 
	}
}

// title section

.main-slider {
	position: relative;
}

.slider {
	
}

.slider1 {
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 500px;
	position: relative;
}

.slider2 {
	background-image: url(../img/bg3.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 500px;
	position: relative;
}

.slider-title {
	font-family: $roboto;
	position: absolute;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	top: 127px;
	left: 0;
	right: 0;
	z-index: 5;
}

.slider-desc {
	font-family: $serif;
	font-weight: lighter;
	font-size: 18px;
	color: #d3d2d2;
	position: absolute;
	color: #d3d2d2;
	line-height: 24px;
	text-align: center;
	top: 185px;
	left: 388px;
	right: 0;
	z-index: 6;
	max-width: 667px;
}

.request{
	font-family: $roboto;
	font-weight: medium;
	background-color: transparent;
	border: solid 1px $color_yellow; 
	font-size: 14px;
	line-height: 24px;
	padding: 10px 25px;
	position: absolute;
	top: 270px;
	left: 600px;
	color: #fff;
	text-align: center;
	&:hover {
		background-color: $color_yellow;
	}
}

.slick-prev {
	width: 40px;
	height: 40px;
	background-color: transparent; 
	border: solid 1px #fff; 
	position: absolute;
	top: 250px;
	left: 300px;
	z-index: 5;
	&:hover {
		background-color: $color_yellow;
	}
}

.slick-next {
	width: 40px;
	height: 40px;
	background-color: transparent; 
	border: solid 1px #fff; 
	position: absolute;
	top: 250px;
	right: 300px;
	z-index: 5;
	&:hover {
		background-color: $color_yellow;
	}
}

// services

.services-main {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.our_services,
.company-news  {
	margin-left: -380px !important;
	max-width: 380px;
	padding-top: 0;
	margin-top: -10px;
	
}

.line_yellow {
	border: solid 2px $color_yellow;
	width: 105px;
	height: 2px;
	margin-top: -4px;
}

.our_services-title,
.consultation-title,
.company-news-title {
	font-size: 24px;
	line-height: 24px;
	color: $color_black;
	font-weight: bold;
	font-family: $roboto;
}

.our_services-desc,
.consultation-desc,
.company-news-desc{
	font-family: $serif;
	line-height: 18px;
	font-size: 14px;
	color: #5e5e5e;
	margin-top: 18px;
	padding-left: 0px;
}

.all-services-link,
.all-news-link {
	font-family: $serif;
	line-height: 18px;
	font-size: 14px;
	color: #5e5e5e;
	border: solid 2px #e6e6e6; 
	padding: 10px 45px;
	margin-top: -7px;
	
}
.services {
	margin-bottom: 35px;
}

.services-sec {
	
	margin-top: 60px;
	position: relative;
}

.services-offers {
	max-width: 300px;
	margin: 0 auto;
}

.services-sec:before {
	content: "";
	background-color: #f9f9f9;
	box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
	position: absolute;
	left: 15px;
	right: 15px;
	height: 100%;
	top: 0px;
	z-index: -1;
}

.services-offers-title {
	font-weight: medium;
	font-family: $roboto;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	margin-top: 110px;
	color: #000;
	z-index: 1;
}

.services-offers-desc {
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	font-family: $serif;
	color: #5e5e5e;
	margin-top: 30px;
	text-align: center;
	z-index: 1;
}

.services-offers-links {
	font-weight: medium;
	font-family: $roboto;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	margin-top: 80px;
	text-decoration: underline;
	z-index: 1;
}

.offer-button {
	z-index: 1;
	font-family: $roboto;
	font-weight: bold;
	line-height: 24px;
	font-size: 14px;
	color: #5e5e5e;
	border: solid 2px $color_yellow;
	padding: 10px 35px;
	background-color: transparent;
	margin-left: 85px;
	outline: none;
	margin-bottom: 45px;
		&:hover {
			background-color: $color_yellow;
			color: #FFF;
		}
}

.about {
	background-image: url(../img/know.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 350px;
	position: relative;
}

.about-title {
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	font-family: $roboto;
	font-weight: medium;
	display: block;
	margin-top: 35px;
}

.about-desc {
	margin-top: 30px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	font-family: $serif;
}

.about-button {
	margin-left: 14px;
	margin-top: 35px;
	padding: 10px 25px;
	color: #fff;
	border: solid 2px $color_yellow;
	background-color: transparent;
	font-family: $roboto;
	font-weight: bold;
	line-height: 20px;
	font-size: 14px;
	background-color: transparent;
	outline: none;
	margin-bottom: 45px;
	&:hover {
			background-color: $color_yellow;
		}
}

.consultation {
	margin-top: 50px;
	// margin-bottom: 25px;
}

.our_consultation {
	margin-left: 40px;
	margin-top: -13px;
}

.consultation-main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	// margin-bottom: 45px;
	p {
		margin-top: 15px;
		margin-bottom: 7px;
	}
	.theme {
		width:265px; 
		height:40px;
		background-color: transparent;
		border-radius: 0;
	}
}

.get-consult {
	font-family: $roboto;
	font-weight: bold;
	line-height: 24px;
	font-size: 14px;
	color: #5e5e5e;
	border: solid 2px $color_yellow;
	padding: 10px 35px;
	background-color: transparent;
	display: inline block;
	margin-left: auto;
	outline: none;
	margin-top: 40px;
	justify-content: flex-end;
		&:hover {
			background-color: $color_yellow;
			color: #FFF;
		}
}

.girl-img {
	justify-content: flex-end;
	margin-left: 50px;
    margin-top: -50px;
}

.check {
	background-image: url(../img/check.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 300px;
	position: relative;
	margin-top: -10px;
}

.check-title {
	margin-top: 125px;
	font-family: $roboto;
	font-weight: 500;
	line-height: 24px;
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.check-descr {
	margin-top: 25px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	font-family: $serif;
	text-align: center;
}

.news {
	background-color: #f9f9f9;
	padding-bottom: 150px;
	
}

.news-main {
	padding-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// 
}


.news-big-block {
	margin-top: 25px;
	background-color: #fff;
	padding-left: 70px;
	padding-right: 35px;
	height: 345px;
}

.news-big-square {
	width: 65px;
	height: 30px;
	background-color: $color_yellow;
}

.news-big-title {
	padding-top: 35px;
	font-family: $roboto;
	font-weight: 500;
	line-height: 24px;
	font-size: 18px;
	color: #000;
}

.news-big-descr {
	margin-top: 20px;
	color: #5e5e5e;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	font-family: $serif;
}

.news-big-author {
	margin-top: 25px;
	color: #000;
	line-height: 18px;
	font-size: 14px;
	font-family: $roboto;
	padding-bottom: 50px;
}

.news-small-block {
	margin-top: 25px;
	position: relative;
}

.news-small-square {
	position: absolute;
	width: 47px;
	height: 53px;
	background-color: $color_yellow;
	left: 10px;
	.date {
		color: #fff;
		font-family: $serif;
		text-align: center;
		padding-top: -30px;
		margin-top: -30px;
	}
}

.news-small-title {
	margin-top: 15px;
	font-family: $roboto;
	font-weight: 500;
	line-height: 18px;
	font-size: 16px;
	color: #000;
}

.news-small-descr {
	margin-top: 15px;
	color: #5e5e5e;
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	font-family: $serif;
}

.slick-prev-news {
	width: 40px;
	height: 40px;
	background-color: transparent; 
	border: solid 1px $color_yellow;; 
	position: absolute;
	top: 400px;
	left: 520px;
	z-index: 5;
	&:hover {
		background-color: $color_yellow;
	}
}

.slick-next-news {
	width: 40px;
	height: 40px;
	background-color: transparent; 
	border: solid 1px $color_yellow;
	position: absolute;
	top: 400px;
	left: 460px;
	z-index: 5;
	&:hover {
		background-color: $color_yellow;
	}
}

.contacts {
	background-color: #595959;
	padding-bottom: 40px;
}

.contacts-title {
	margin-top: 25px;
	font-family: $roboto;
	font-weight: 500;
	line-height: 36px;
	font-size: 16px;
	color: #FFF;
}

.contacts-descr {
	margin-top: 15px;
	font-family: $roboto;
	font-weight: 300;
	line-height: 18px;
	font-size: 14px;
	color: #d3d2d2;
}

.free-consult {
		color: $color_white;
		font-size: 16px;
		line-height: 36px;
		background: transparent;
		border: solid 1px $color_yellow;
		font-weight: lighter;
		margin-top: 45px;
		padding: 5px 55px;
		&:hover {
			
			background-color: $color_yellow;
			
		}
}

.list-contacts {
	// margin-top: 25px;
	li {
		margin-top: 20px;
	}
	a {
		
		color: $color_white;
		font-size: 16px;
		line-height: 24px;
		font-family: $roboto;
	}
	
}

.footer {
	background-color: #303030;
	
}

.footer-sign {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: $roboto;
	font-weight: 500;
	line-height: 24px;
	font-size: 12px;
	margin: 0;
}